<div class="home-container">
    <h1>Welcome to the Quiz App</h1>
    <p>Start exploring quizzes and test your knowledge!</p>

    <div *ngIf="!hasQuizStarted">
        <div class="game-buttons">
            <!-- Take Quiz button is enabled when no selection is made, disabled when either category or difficulty is selected -->
            <button [disabled]="selectedCategory && selectedDifficulty" (click)="startQuiz()">Take Quiz</button>
        </div>

        <div class="quiz-options">
            <label for="category">Select Category: </label>
            <select id="category" [(ngModel)]="selectedCategory">
                <!-- Default option to prompt user to select a category -->
                <option value="">Select a Category</option>
                <option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                </option>
            </select>
        </div>

        <div class="quiz-options">
            <label for="difficulty">Select Difficulty: </label>
            <select id="difficulty" [(ngModel)]="selectedDifficulty">
              <option value="">Select Difficulty</option>
              <option *ngFor="let difficulty of difficulties" [value]="difficulty">
                {{ difficulty }}
              </option>
            </select>
        </div>

        <!-- Disable Fetch Questions button if no category or difficulty is selected -->
        <button [disabled]="selectedCategory === '' || selectedDifficulty === ''" (click)="fetchQuestions()">Fetch Questions</button>
    </div>

    <router-outlet></router-outlet>
</div>
